.slider__btn {
  width: 50px;
  position: relative;
}
.slider__btn > img {
  width: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slider__btn:last-child > img {
  transform: rotate(180deg);
}

@media only screen and (max-width: 768px) {
  .slider__btn {
    width: 25px;
  }
}
